/* Centered columns */
/* cite: http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-centered-columns */
.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    /*margin-right:-4px;*/
    max-width: 250px;
}

.center-thumb-caption > div > h4 {
  text-align: center;
}